@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --color-primary-a1: 159 208 212; */
    --color-primary-a1: 240 180 180;

    --color-primary-a2: 236 235 255;
    --color-secondary-a1: 228 227 230;
    --color-secondary-a2: 89 34 94;
    --color-secondary-a3: 7 0 0;
    --color-tertiary-a1: 118 118 124;
    --color-tertiary-a2: 86 85 132;
    --color-test: rgb(0, 0, 0);
  }

  .dark {
    --color-primary-a1: 21 18 18;
    --color-primary-a2: 18 16 99;
    --color-secondary-a1: 255 255 255;
    --color-secondary-a2: 236 235 255;
    --color-secondary-a3: 255 235 255;
    --color-tertiary-a1: 120 220 202;
    --color-tertiary-a2: 48 15 192;
  }
}
